<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Everyone puts their own local username/password here -->
	<add name="BhisakkaDb"
         connectionString="Host=localhost;Port=5432;Database=bhisakka;Username=postgres;Password=MY_LOCAL_PASSWORD"
         providerName="Npgsql" />
</configuration>